<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!--for search-->

<style>


ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}


    </style>

    </head>
	<body class="">





<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Lost Found</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>



    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="POST">
      <input class="form-control mr-sm-2" name="title" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>



      <ul  class="no-bullets">
        <li class="nav-item active">
           <a href="{{ url_for('home') }}" style="color: white; padding-left: 1rem;"><i class="fas fa-home"></i>Home</a>
          </li>
      </ul>


      <ul  class="no-bullets">
          <li class="nav-item " >
      <a href="{{ url_for('profile') }}" style="color: white; padding-left: 1rem;"><i class="fas fa-user-circle"></i>Profile</a>
	    </li>
      </ul>



    <ul  class="no-bullets">
     <li class="nav-item dropdown">
        <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entry
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('entry') }}"><i class="fas fa-plus"></i>Add</a>
          <a class="dropdown-item" href="{{ url_for('ShowEntry') }}">Show</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Claim</a>
        </div>
      </li>
    </ul>

 <ul  class="no-bullets">
          <li class="nav-item " >
      <a href="" style="color: white; padding-left: 1rem;"><i class="fas fa-user-circle"></i>About us</a>
	    </li>
      </ul>

<ul  class="no-bullets">
      <li class="nav-item " >
        <a href="{{ url_for('logout') }}" style="color: white; padding-left: 1rem;"><i class="fas fa-sign-out-alt"></i> Logout </a>
      </li>
 </ul>
  </div>
</nav>

		<div class="content">
			{% block content %}



			{% endblock %}
		</div>

	</body>
</html>